html {
  height: 100%;
}
body {
  height: 100%;
}
canvas {
  transition: opacity 0.25s ease-in-out;
  -moz-transition: opacity 0.25s ease-in-out;
  -webkit-transition: opacity 0.25s ease-in-out;
}
h2 {
  font-size: 20px;
}
#builder_canvas_container {
  /*width: 900px;*/
  overflow: auto;
  position: relative;
}
#builder_canvas_overlay {
  position: absolute;
  top: 0;
  left: 0;
  opacity: .5;
}
.builder_zoom {
  position: absolute;
  top: 5px;
  right: 15px;
}
.builder_zoom.visible-xs {
  position: fixed;
  bottom: 5px;
  left: 5px;
  top: auto;
}
.builder_zoom.visible-xs button.zoom {
  width: 42px;
  height: 37px;
}
.builder_zoom button.zoom {
  width: 37px;
}
#builder_container_td {
  padding: 0;
  vertical-align: top;
  margin: 0;
  position: fixed;
  right: 0;
  top: 0;
  height: 100%;
  overflow: auto;
}
.form-horizontal .form-group-sm .control-label {
  font-size: 11px;
  padding-right: 0px;
}
#builder_canvas_container_container {
  min-width: 0;
  overflow: auto;
  height: 100%;
  position: fixed;
}
#builder_container_container {
  position: fixed;
  right: 0;
  padding-right: 0;
  overflow: auto;
  height: 100%;
}
#builder_container_container #builder_container {
  user-select: none;
}
#builder_container_container #builder_container form .form-group-sm .col-sm-6 {
  padding-right: 0;
}
#builder_container_container #resize_handle {
  height: 100%;
  position: fixed;
  background: #f5f5f5;
  width: 15px;
  margin-left: -30px;
  box-shadow: inset 0px 0px 1px 1px rgba(51, 51, 51, 0.14);
  cursor: col-resize;
}
#builder_container_container .form-horizontal .form-group {
  width: 100%;
}
#top_row {
  margin-right: 0px;
  margin-left: 0px;
  height: 100px;
  position: relative;
}
#top_row #resize_handle_top {
  height: 15px;
  position: absolute;
  background: #f5f5f5;
  width: 100%;
  box-shadow: inset 0px 0px 1px 1px rgba(51, 51, 51, 0.14);
  cursor: row-resize;
  bottom: 0;
}
#bottom_row {
  margin-right: 0px;
  margin-left: 0px;
}
@media (max-width: 767px) {
  #builder_container {
    display: none;
  }
  #builder_canvas_container_container {
    padding: 0px;
  }
  #builder_canvas_container {
    height: 100% !important;
  }
}
